<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!-- discord embed integration -->
        <meta content="Final Republic" property="og:site_name">
        <meta content="Home | Final Republic" property="og:title">
        <meta content="The Final Republic Website." property="og:description">
        <meta content="https://cdn.discordapp.com/attachments/1061516148325220455/1074527045561884722/f7bd4c45-d74b-405c-b57c-852917af9cc7.png" property='og:image'>
        <meta name="theme-color" content="#bd97bd">

        <!-- make the website look good -->
        <title>Home | Final Republic</title>
        <link id="themeStylesheet" rel="stylesheet" href="light.css">
        <link rel="icon" href="FinalRepublic_GIF_logo.gif"> <!-- https://en.wikipedia.org/wiki/Favicon#Image_file_format_support -->

        <!-- mobile support, keep this at the end of <head> so it can override the loaded stylesheet -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body id="body" style="background-image: url(/background.png); position: absolute; top: -20%; width: 100%; background-repeat: no-repeat; background-attachment: fixed;">
        <div style="padding: 7%;"><!-- breaks site if removed!!! --></div>
        <div class="center" style="height: 900px;">
            <nav style="background-image: none;">
                <img class="themeToggle" src="FinalRepublic_GIF_logo.gif" alt="emoji logo">
                <div class="topnav">
        
                    <div class="dropdownParent">
                        <a href="index.html">Home</a>
                    </div>
                    
                    <div class="dropdownParent" id="dropdownParentHist">
                        <a onclick="visibility('histDrop')">History</a>
                        <div style="display: none;" class="dropdown" id="histDrop">
                            <a href="wiki.html">Wiki</a><br>
                            <a href="downloads.html">Worlds</a>
                        </div>
                    </div>
                    
                    <div class="dropdownParent" id="dropdownParentInfo">
                        <a>Info</a>
                        <div style="display: none;" class="dropdown" id="infoDrop">
                            <a href="map.html">Map</a><br>
                            <a href="forum.html">Forums</a>
                        </div>
                    </div>
        
                    <div class="dropdownParent">
                        <a href="about.html">About</a>
                    </div>
        
                </div>
                <img class="themeToggle" style="padding-right: 10px;" onclick="toggleTheme()" src="https://cdn2.iconfinder.com/data/icons/weather-154/100/weather_cloud_clouds_nature-46-512.png" alt="Dark / Light Mode Toggle">
                <b><p id="splashText" onload="changeSplashText()" onclick="changeSplashText()" class="splashText"></p></b>
            </nav>
            <div id="sidebarDiv" class="sidebarParent">
                <a onclick="document.getElementById('sidebarDiv').style.display = 'none'; document.getElementById('contentDiv').style.width = '100%';" class="smalltext">click to hide sidebar</a>
                <div class="sidebar" style="display: block;">
                    <h2>Donations in the past month</h2>
                    <a id="donoBoard" href="https://docs.google.com/spreadsheets/d/1yvvGv7Y1pX4qfU_hUKwUmh1UrXI_5aWR4C2-NIGVi6Y/edit?usp=sharing" title="">$NaNusd</a>
                    <p class="smalltext">
                        Resets at the beginning of the month when services are paid.
                        You will not get any perks or ranks on the server.
                        We will accept refunds if you request one.
                        May not be available in some countries.
                        Honestly, just save your money if you can. Not worth it unless you <i>really</i> like this server.<br>
                    </p>
                    <form action="https://www.paypal.com/donate" method="post" target="_top">
                        <input type="hidden" name="business" value="A3M6AQT7FX9EW" />
                        <input type="hidden" name="no_recurring" value="0" />
                        <input type="hidden" name="currency_code" value="USD" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                    </form>
                </div>
                <div class="sidebar">
                    <h2>News</h2>
                    <h3 id="website-relase-header">Website Release! <a onclick="document.getElementById('website-relase-header').style.display = 'none'; document.getElementById('website-relase-text').style.display = 'none';" class="smalltext">hide</a></h3>
                    <p id="website-relase-text" class="smalltext">after over 4 months of development, the first fully working website for the Final Republic server has been released to the world. thats basically it, it just took a long time.</p>
                    <h3 id="lorem-header">Lorem Ipsum. <a onclick="document.getElementById('lorem-header').style.display = 'none'; document.getElementById('lorem-text').style.display = 'none';" class="smalltext">hide</a></h3>
                    <p id="lorem-text" class="smalltext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, exercitationem quae quas iure quisquam sunt. Dolor dicta consectetur aut illo magni debitis qui sunt eum, quia odio nemo explicabo harum.</p>
                </div>
                <div class="sidebar">
                    <p class="smalltext">
                        &copy; 2022-2023 FinalRepublic<br>
                        GPL v3 ; Open to Contributors <br>
                        Hosted on <a href="https://github.com/GirlInPurple/frwebsite">Github</a> and <a href="https://www.fl0.com/">FL0</a><br>
                        Last Updated <a id="commitDate"></a><br>
                        Not an offical Minecraft product<br>
                        Not approved by or associated with Mojang<br>
                        <a href="contact.html">Contact, Legal, About</a><br>
                    </p>
                </div>
            </div>
            <div id="contentDiv" class="contentParent">
                <h1 style="padding: none;">The Final Republic Website</h1>
                <p>
                    Welcome to the offical Final Republic Website.<br>
                    Here is the wiki, world map, and a few extra tools for players of the server. 
                    This site is currently in public beta, so please report any bugs to the devs.
                </p>
                <h2>Some Quick History</h2>
                <p>
                    Final Republic was made out of a want for a relatively peaceful, survival building server; and over around 2 years of uptime, it was achieved with great success.
                    And while this server is based around building towns and small drama between them, overall it has grown to have over 50 unique players join.
                    I'm not going to go on about the history of the server here, why dont you go ahead and look at <a href="wiki.html">the Wiki</a> for more info.
                </p>
                <h2>Links</h2>
                <p>
                    FinalRepublic is on 3 platforms; a large collection of <a href="wiki.html#youtube-channels">Youtube Channels</a>, our offical <a href="https://discord.gg/2PxCfY9jRd">Discord Server</a>, and <a href="">TO BE DETERMINED</a>
                </p>
                <h2>Special Thanks</h2>
                <p>
                    Thank you to everyone who is keeping the server alive, and the contributors to the server.
                    <ul>
                        <li><b><a href="wiki.html#tipduy3010">@TipDuy3010</a>, <a href="wiki.html#tipduy3010">@ousmYT</a>, and <a href="wiki.html#tipduy3010">@squeezal</a> :</b> For helping out with the backend of the server.</li>
                        <li><b><a href="wiki.html#tipduy3010">@Alakazam6898</a>, <a href="wiki.html#tipduy3010">@RainForCraft</a>, and the whole of <a href="wiki.html#tipduy3010">Nether Bay</a> and <a href="wiki.html#tipduy3010">Windswept Fang</a> :</b> For keeping the server alive in its darkest times.</li>
                        <li><b>Lastly, <a href="https://imdeity.com/forums/">ImDiety</a> and <a href="https://hermitcraft.com/">Hermitcraft</a> :</b> For building the philosophy of the server</li>
                    </ul>
                </p>
            </div>
        </div>
    </body>
    <script>
        window.onload = async function(){
            // Set the theme based on the value in localStorage
            let darkMode = localStorage.getItem('darkMode') === 'true';
            let themeStylesheet = document.getElementById('themeStylesheet');
            themeStylesheet.href = darkMode ? 'dark.css' : 'light.css';
            
            // set up hover on the nav
            let histDropParent = document.getElementById('dropdownParentHist');
            let histDrop = document.getElementById('histDrop');
            histDropParent.addEventListener('mouseover', function() {
                histDrop.style.display = 'block';
            });
            histDropParent.addEventListener('mouseout', function() {
                histDrop.style.display = 'none';
            });

            let infoDropParent = document.getElementById('dropdownParentInfo');
            let infoDrop = document.getElementById('infoDrop');
            infoDropParent.addEventListener('mouseover', function() {
                infoDrop.style.display = 'block';
            });
            infoDropParent.addEventListener('mouseout', function() {
                infoDrop.style.display = 'none';
            });
            
            let width = window.innerWidth;
            console.log(width)
            if (width <= 900){
                const redirect = 'index.mobile.html'
                window.location.replace(redirect);
            }

            changeSplashText();
            await getLatestCommit()
            await updateDonoAmount()
        };

        function changeSplashText() {
            const splashValues = [
                "Quite the rarity 'init?",
                "\"We are going to have some downtime\"",
                "Now on 1.19.4!",
                "RIP Skele Horse, 2023-2023 :(",
                "16 Towns Total!",
                "ERROR 418: Teapot not found!",
                "Radioactive Spaghetti, 30k Calories of Fun!",
                "\"Coming Soon!\" for 6 weeks!",
                "we have too many trains and highways plz help",
                "temp splash"
            ]
            const splashSizes = [17, 10, 19, 17, 18, 17, 10, 17, 9, 25]
            const splashNumber = Math.min(Math.floor(Math.random() * 10), splashValues.length - 1)
            const splashText = document.getElementById('splashText')
            splashText.innerHTML = splashValues[splashNumber]
            splashText.style.fontSize = `${splashSizes[splashNumber]}px`;
        }

        // This function toggles between light and dark mode
        function toggleTheme() {
            let themeStylesheet = document.getElementById('themeStylesheet');
            let darkMode = localStorage.getItem('darkMode') === 'true';
            if (darkMode) {
                themeStylesheet.href = 'light.css';
                localStorage.setItem('darkMode', 'false');
            } else {
                themeStylesheet.href = 'dark.css';
                localStorage.setItem('darkMode', 'true');
            }
        }

        async function getLatestCommit() {
            await fetch("https://api.github.com/repos/GirlInPurple/frwebsite/commits")
                .then(response => response.json())
                .then(data => {
                    document.getElementById("commitDate").innerHTML = data[0].commit.author.date;
                })
                .catch(error => console.error('Error:', error));
        }

        async function updateDonoAmount() {
            await fetch(`https://raw.githubusercontent.com/GirlInPurple/frwebsite/wiki/backend.json`)
                .then(resp => resp.json())
                .then(async(backend) => {
                    await fetch(`https://api.frankfurter.app/latest?amount=${backend.donations}&from=USD&to=EUR,INR,CNY`)
                        .then(resp => resp.json())
                        .then((conversionData) => {
                            console.log(conversionData)
                            let donoBoard = document.getElementById('donoBoard');
                            donoBoard.innerText = `$${backend.donations}USD`
                            donoBoard.title = `
                            Click here to view our financials.\nAs of ${conversionData.date}, $${backend.donations}USD is equal to;\n€${conversionData.rates.EUR}EUR,\n₹${conversionData.rates.INR}INR,\n¥${conversionData.rates.CNY}CNY`
                        });
                });
        }
    </script>
</html>
