<!DOCTYPE html>
<html>
<head>
  <title>Wiki Editor</title>
</head>
<body>
    <h1>Final Republic Wiki Editor</h1>
    <p>By participating in editing this wiki, you assume these clauses;</p>
    <ul>
        <li><b>Your ip will be publicly posted</b> in our Discord server, we use this to decern different people.</li>
        <li>You can be banned/blocked from editing this wiki at any time; bombing the wiki will be an instant ip-ban.</li>
        <li>Your changes must be grounded in fact or plausible rumor. Images and videos are your best bet for proof as they are hard to fake reliably.</li>
        <li>Most, if not all VPNs, have been blocked due to your IP being a major part of making sure you are actually you.</li>
        <li>The edit will be cleaned up and scanned for malicious scripts before being put up on the wiki.</li>
        <li>If you find any issues with the last 2 points, please submit a ticket in the Discord server or on the issues page asap.</li>
    </ul>
    <p style="text-align: left; padding-left: 10%; padding-right: 10%;">
        All of your changes are uploaded to the wiki immediately and are sent to out via a Discord webhook to our communications server, then saved on a publicly editable folder.<br>
        You may create tools that allow you to edit the wiki faster/easier/how you like, the code for the server is <a href="https://github.com/GirlInPurple/frwebsite/blob/main/editor.html">open-source</a>.<br>
        I should also mention that this page will get a visual revamp soon, as although it functions as it needs to, it looks like crap and has wayyyyyy too much spaghetti code on the back end.
    </p><br><br><br>

    <form action="submit.html" method="POST" accept-charset="UTF-8">

        <label for="articleDropdown">Page:</label>
        <select id="articleDropdown" name="dropdown">
            <option value="create-page">create-page</option>
            <!-- injects here -->
        </select><br><br>

        <label for="notes">New Page:</label>
        <input style="width: 320px;" type="text" id="page" placeholder="No spaces, non-latin chars, or non-ASCI characters" name="page"><br><br>

        <a onclick="refreshContent()">click here to get file contents</a><br><br>

        <label for="name">Alias:</label>
        <input type="text" id="name" name="name" value="anon" required  autocomplete="off"><br><br>
        
        <label for="content">Page Content: (uses <a href="https://www.markdownguide.org/basic-syntax/">Markdown</a>)</label>
        <textarea style="width: 100%; height: 25em;" id="content" name="content" required></textarea><br><br>
        
        <label for="notes">Editor Notes:</label>
        <input style="width: 100%; height: 25em;" type="text" id="notes" placeholder="No notes were given." name="notes"><br><br>
        
        <input type="submit" value="Submit">
    </form>

    <script>
        window.onload = async function() {
            await fetch('./wikiPages/wiki.json')
                .then(response => response.text())
                .then(async(data) => {
                    wikiJsonData = JSON.parse(data)
                    const droopSnootPointer = document.getElementById('articleDropdown')
                    for (let articleIndex = 0; articleIndex < wikiJsonData.pages.length; articleIndex++) {
                        let droopSnootValue = document.createElement("option");
                        droopSnootValue.value = wikiJsonData.pages[articleIndex]
                        droopSnootValue.innerText = wikiJsonData.pages[articleIndex]
                        droopSnootPointer.appendChild(droopSnootValue);
                    }
                });
        }

        async function refreshContent() {
            let textInject = document.getElementById('content')
            let textGrabber = document.getElementById('articleDropdown')
            if (articleDropdown.value == 'create-page') {
                textGrabber = document.getElementById('page')
            }
            await fetch(`./wikiPages/${textGrabber.value}.md`)
                .then(response => response.text())
                .then(async(data) => {
                    if (!data.startsWith('<!DOCTYPE html>')) {
                        textInject.value = data
                    } else {
                        textInject.value = "Please enter a file."
                    }
                });
        }
    </script>
</body>
</html>
